<!DOCTYPE html>
<html>
  <head>
    <title>Active U.S. Fires</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + process.env.KEY></script>
    <script type="text/javascript" src="/javascripts/infobox.js"></script>
    <script src='/javascripts/styles.js'></script>
    <script src='/javascripts/orbit.js'></script>

  </head>
  <body>
    {{{body}}}
    <script src='/javascripts/client.js'></script>
  </body>
</html>
