<div id="my-fire-map"></div>
<header>
  <div class='title'>
    <a href='/'><h1>Fire Tracker</h1></a>
    <h2>Stay up to date on the latest fire news</h2>
  </div>
  <div class="description" id='register-form'>
    <p>Here are the fires that you're currently tracking. Please note that if a fire gets put out, it will automatically be removed from this map.</p>
    <a class='button' href='/'>View all fires</a><a href="/logout" class='login'>Logout</a>
  </div>
</header>
<script src='/javascripts/map2.js'></script>
