header {
  width: 50%;
  max-width: 850px;
  background: rgba($dark-grey, 0.94);
  position: absolute;
  bottom: 32px;
  z-index: 200;

  .title {
    background: $dark-grey;
    width: 50%;
    float: left;
    padding: 32px;
    min-height: 187px;
    h2 {
      color: $water;
      font-weight: 100;
      font-size: 24px;
    }

  }


  .description {
    width: 50%;
    float: right;
    padding: 32px;
    p {
      color: $super-light-grey;
      border-bottom: none;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.2em;
      margin-bottom: 16px;
      padding-bottom: 0;
    }
  }

  form {
    position: relative;

    img {
      cursor: pointer;
      height: 16px;
      float: right;
      position: absolute;
      right: 0;
      &:hover {
        opacity: .7;
        @include transition(all .3s ease);
      }
    }
  }
  .minimize {
    height: 0;
    @include transition(all .3s ease);
    p, a {
      display: none;
      @include transition(all .3s ease);
    }
    #minimize {
      @include rotate(45deg);
      @include transition(all .3s ease);
      top: 40px;
    }
  }
  #minimize {
    display: none;
  }

}
